html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.heading {
    color: white;
}

.departments {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
    background-color: #2D033B;
}

.form_style {
    width: 92%;
}

.dept_btns {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #810CA8;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    transition: 0.5s;
}

.dept_btns:hover {
    background-color: #C147E9;
    transition: 0.5s;
}

.display {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #f0d1fa;
}

.table_section {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#myInput{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}

#myInput1{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}

.search{
    display: flex;
    padding: 20px 20px 0px 20px;
}

table,
td {
    border: 2px solid rgb(57, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

th{
    background-color: rgb(170, 170, 170);
    border: 2px solid rgb(15, 15, 15);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}