html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.heading {
    color: white;
}

.departments {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
    background-color: #18122B;
}

.form_style {
    width: 92%;
}

.dept_btns {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #443C68;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.dept_btns:hover {
    background-color: #393053;
    transition: 0.5s;
}

.display {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #635985;
    background: url("../images/blue-layout-background.jpg");
}

.table_section {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#myInput{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}

#myInput1{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}

.search{
    display: flex;
    padding: 20px 20px 0px 20px;
}

table,
td {
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(56, 56, 56, 0.27);
    color: white;
}

th{
    background-color: rgba(255, 255, 255, 0.856);
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    color: rgb(16, 16, 16);
}

i{
    color: red;
    font-size: 28px;
}
.receipt{
    color: rgb(96, 159, 0);
}