html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.heading {
    color: white;
}

.departments {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
    background-color: rgb(19, 19, 19);
}

.form_style {
    width: 92%;
}

.dept_btns {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.dept_btns:hover {
    background-color: rgb(56, 56, 56);
    transition: 0.5s;
}

.display {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid red;*/
    background-color: rgb(65, 65, 65);
}

.usefulbuttton {
    display: flex;
}

.heading2 {
    text-align: left;
    padding: 10px;
    margin-left: 30px;
    color: white;
}

.logout_btn {
    padding: 10px;
    margin-right: 30px;
    background-color: rgb(171, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.logout_btn:hover {
    background-color: rgb(107, 0, 0);
    transition: 0.5s;
}

.refresh_btn{
    padding: 10px;
    margin-right: 30px;
    background-color: rgb(0, 221, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.5s;
}

.refresh_btn:hover {
    background-color: rgb(0, 168, 154);
    transition: 0.5s;
}

.useful_btn1 {
    padding: 10px;
    margin-right: 30px;
    background-color: rgb(200, 101, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.useful_btn1:hover {
    background-color: rgb(159, 80, 0);
    transition: 0.5s;
}

.useful_btn2 {
    padding: 10px;
    margin-right: 30px;
    background-color: rgb(200, 101, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.useful_btn2:hover {
    background-color: rgb(168, 73, 1);
    transition: 0.5s;
}

.inputid{
    padding: 10px;
    border-radius: 5px;
}

.useful_btn3 {
    padding: 10px;
    margin-right: 30px;
    background-color: rgb(80, 171, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}
.useful_btn3:hover {
    background-color: rgb(4, 107, 0);
    transition: 0.5s;
}

.table_section {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#myInput{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}

#myInput1{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
}

.search{
    display: flex;
    padding: 20px 20px 0px 20px;
}

table,
td {
    border: 2px solid rgb(57, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

th{
    background-color: grey;
    border: 2px solid rgb(57, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    color: white;
}

i{
    color: red;
    font-size: 20px;
}
.receipt{
    color: rgb(96, 159, 0);
}