html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/*first div*/

.first_div{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

.mainsection{
    display: flex;
    padding: 20px;
}

.buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.usefulbtns{
    padding: 10px;
    text-decoration: none;
    font-size: 26px;
    margin: 20px;
    width: 80%;
    background-color: bisque;
    color: navy;
    border-radius: 10px;
}

.usefulbtns:hover{
    background-color: rgb(253, 207, 151);
    color: rgb(128, 0, 0);
    transition: 1s;
}

.emergency{
    padding: 10px;
    text-decoration: none;
    font-size: 26px;
    margin: 20px;
    width: 80%;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.emergency:hover{
    background-color: rgb(102, 0, 0);
    color: yellow;
    transition: 1s;
}

.announcements{
    font-size: 20px;
    width: 40%;
    padding: 20px;
    background-color: #ADE792;
    margin-right: 50px;
    border-radius: 10px;
}
.alerts{
    text-align: center;
}

/*footer*/
.footer_panel {
    text-align: center;
    background: #130a24;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 3%;
    line-height: 1.5;
}

.copyright-text {
    margin: 0px;
    padding: 20px;
}

.terms_and_conditions{
    color: #D89CF6;
    text-decoration: none;
}
.terms_and_conditions:hover{
    color: #fffeff;
    text-decoration: none;
    transition: 1s;
}

@media only screen and (max-width: 1137px){
    .footer_panel{
        padding: 50px;
    }
}