html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    object-fit: scale-down;
}

/* first part */
.header_panel {
    background-color: #2D033B;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 575px) {
    .header_panel {
        flex-direction: column;
    }

    .top_image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
    }
}

.right a {
    float: left;
    color: rgb(255, 255, 255);
    margin: 15px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}

.right a:hover {
    text-decoration: none;
    color: rgb(241, 83, 59);
    transition: 0.5s;
}

.right .icon {
    display: none;
}

@media screen and (max-width: 1276px) {
    .right a {
        display: none;
    }

    .right a.icon {
        float: right;
        display: block;
    }
}

.navbar_header_image {
    height: 100px;
    width: 60%;
    margin: 0 100px 0 20px;
}

@media screen and (max-width: 1276px) {
    .right.responsive {
        position: relative;
    }

    .right.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.right.responsive a {
    float: none;
    display: block;
    text-align: left;
}


/*second*/
.secondbox {
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.secondbox h1 {
    margin: 0;
}

.uid_data {
    padding: 10px;
    border-radius: 10px;
    border: 0px solid rgba(255, 255, 255, 0);
}

.see_btn {
    padding: 10px;
    border-radius: 10px;
    background-color: #D09CFA;
    margin-top: 20px;
    border: 0px solid rgba(255, 255, 255, 0);
}

.see_btn:hover {
    background-color: #A555EC;
    transition: 0.5s;
}

.goahead {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.cancel{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.del_btn{
    padding: 10px;
    border-radius: 10px;
    background-color: #fa9c9c;
    margin-top: 20px;
    border: 0px solid rgba(255, 255, 255, 0);
}

.del_btn:hover{
    background-color: #ec5555;
    transition: 0.5s;
}

.paymentinfo{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.paymentinfo p{
    font-size: 24px;
    font-weight: bold;
    color: #ec5555;
}