html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.first_div{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}
.first_div p{
    margin-right: 50px;
    color: white;
    font-size: 24px;
}
.first_div img{
    width: 150px;
}

.account_data {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 24px;
    color: black;
}

.infomessage {
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: red;
    font-size: 24px;
}

.section {
    background-color: rgb(255, 255, 255);
}

td {
    font-size: 14px;
    text-align: left;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1276px) {
    td {
        font-size: 10px;
    }
}

.fees{
    margin: 20px;
    font-size: 20px;
    color: red;
}
.print_btn{
    margin-left: 20px;
}

@media screen and (max-width: 800px){
    .first_div{
        flex-direction: column;
        height: 20vh;
    }
}