html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.header_panel {
    background-color: #2D033B;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 575px) {
    .header_panel {
        flex-direction: column;
    }

    .top_image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
    }
}

.right a {
    float: left;
    color: rgb(255, 255, 255);
    margin: 15px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}

.right a:hover {
    text-decoration: none;
    color: rgb(241, 83, 59);
    transition: 0.5s;
}

.right .icon {
    display: none;
}

@media screen and (max-width: 1276px) {
    .right a {
        display: none;
    }

    .right a.icon {
        float: right;
        display: block;
    }
}

.navbar_header_image {
    height: 100px;
    width: 60%;
    margin: 0 100px 0 20px;
}

@media screen and (max-width: 1276px) {
    .right.responsive {
        position: relative;
    }

    .right.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.right.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.olddata{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 250, 250);
}

.olddata p{
    color: blue;
    font-size: 20px;
}

.updatesection{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(21, 0, 42);
}

.newvals{
    display: flex;
    flex-direction: column;
}
.newvals input{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid teal;
}

.newvals button{
    padding: 10px;
    width: 320px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid teal;
    background-color: green;
    color: white;
}
.newvals button:hover{
    background-color: rgb(0, 191, 0);
    transition: 1s;
}

.link{
    padding: 20px;
    text-decoration: none;
    background-color: black;
}

.link a{
    text-decoration: none;
    color: yellow;
    font-size: 24px;
}

.link a:hover{
    color: greenyellow;
}

.delete{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(61, 0, 0);
}

.cancel{
    display: flex;
    flex-direction: column;
}

.cancel input{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid teal;
    background-color: rgb(255, 198, 198);
}

.cancel button{
    padding: 10px;
    width: 320px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid teal;
    background-color: red;
    color: white;
    transition: 1s;
}

.cancel button:hover{
    background-color: rgb(107, 1, 1);
    transition: 1s;
}

/*footer*/
.footer_panel {
    text-align: center;
    background: #130a24;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 3%;
    line-height: 1.5;
}

.copyright-text {
    margin: 0px;
    padding: 20px;
}

.terms_and_conditions{
    color: #D89CF6;
    text-decoration: none;
}
.terms_and_conditions:hover{
    color: #fffeff;
    text-decoration: none;
    transition: 1s;
}

@media only screen and (max-width: 1137px){
    .footer_panel{
        padding: 50px;
    }
}